/* Bars */
.black-bar {
  background: var(--color-black);
  max-height: 15px;
}

.dark-bar {
  background-color: var(--color-footer);
  font-size: 45px;
  color: var(--color-white);
  text-align: right;
  padding-right: 10px;
  max-height: 120px;
}
