/* Notes */
.kid-notes {
  background: var(--color-field);
}

#notes {
  border: none;
  resize: none;
  height: 85%;
  overflow-y: auto;
}

.notes-group {
  height: fit-content;
  background: var(--color-field);
  border-top: 1px solid var(--color-black); /* Notes needs top border */

  .section-title {
    color: var(--color-black); /* Dark text on light background */
  }
}
