/* Teen Relationships (includes friction) */
.relationships {
  .box-shadow();

  border-top: none; /* No top border for relationships */
  margin: 2px;
  padding: 0;

  .friction {
    list-style: none;
    font-family: var(--font-avant);
    font-size: 1em;
    background: var(--color-iconic-item);
    line-height: 34px;
    place-content: space-between space-between;
    align-items: center;
    padding-left: 5px;

    label {
      max-width: fit-content;
    }

    input {
      margin-right: 3px;
      background: var(--color-transparent);
      border: none;
    }
  }
}
