/* Hideout Section (Kid Only) */
.hideout {
  .flex-col();

  flex: 1;
  min-height: 0;
  background: var(--color-field);

  .hideout-text {
    flex: 1;
    .flex-col();

    min-height: 0;

    textarea {
      border: none;
      resize: none;
      flex: 1;
      width: 100%;
      padding: @gap-inline-large;
      background: var(--color-transparent);
      font-family: inherit;
      font-size: 0.9em;
      margin: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
